@model IEnumerable<B2C6_gr2.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelSoortId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelPunten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serienummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelSoortId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelPunten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serienummer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
